.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item, .query{
    background-color: #fceae8;
    border-radius: 1em;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}